In [1]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']
lst_comb = list(zip(lst1,lst2))
print(lst_comb)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [2]:
lst_dict = dict(zip(lst1,lst2))
print(lst_dict)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [3]:
import pandas as pd

In [5]:
s = pd.Series(lst2, name='letters')
print(s)
s

0    a
1    b
2    c
3    d
4    e
Name: letters, dtype: object

0    a
1    b
2    c
3    d
4    e
Name: letters, dtype: object

In [7]:
s2 = pd.Series(lst2, name='letters')
s2

0    a
1    b
2    c
3    d
4    e
Name: letters, dtype: object