## **Cosine Similarity**

In [1]:
import pandas as pd
import numpy as np

In [4]:
movies = pd.read_excel('../Data/Movie_Ratings.xlsx',0)

In [5]:
movies.head()

,Movie_ID,Movie_Title,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

In [12]:
movies_df = movies.drop(['Movie_ID'], axis=1)

In [13]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie_Title  1682 non-null   object
 1   Action       1682 non-null   int64
 2   Adventure    1682 non-null   int64
 3   Animation    1682 non-null   int64
 4   Children's   1682 non-null   int64
 5   Comedy       1682 non-null   int64
 6   Crime        1682 non-null   int64
 7   Documentary  1682 non-null   int64
 8   Drama        1682 non-null   int64
 9   Fantasy      1682 non-null   int64
 10  Film-Noir    1682 non-null   int64
 11  Horror       1682 non-null   int64
 12  Musical      1682 non-null   int64
 13  Mystery      1682 non-null   int64
 14  Romance      1682 non-null   int64
 15  Sci-Fi       1682 non-null   int64
 16  Thriller     1682 non-null   int64
 17  War          1682 non-null   int64
 18  Western      1682 non-null   int64
dtypes: int64(18), object(1)
memory usage: 249.8+ KB

In [14]:
movies_df = movies_df.set_index(['Movie_Title'])
movies_df.index.name = None
movies_df

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
GoldenEye (1995),1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Four Rooms (1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
Copycat (1995),0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Mat' i syn (1997),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
B. Monkey (1998),0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
Sliding Doors (1998),0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
You So Crazy (1994),0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Scream of Stone (Schrei aus Stein) (1991),0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [19]:
movies_df.loc[['Toy Story (1995)','Get Shorty (1995)']]

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
Toy Story (1995),0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
Get Shorty (1995),1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0

In [22]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_similarity(movies_df.loc[['Toy Story (1995)','Get Shorty (1995)']])[0,1]

np.float64(0.3333333333333334)

In [24]:
cosine_matrix = cosine_similarity(movies_df)

In [28]:
cosine_df = pd.DataFrame(cosine_matrix, index=movies_df.index, columns=movies_df.index)

In [34]:
cosine_df.shape

(1682, 1682)

In [35]:
## Costine similarity of Tyoy Story with other movies
cosine_df.loc[:,['Toy Story (1995)']].sort_values('Toy Story (1995)',ascending=False).head(6)

                                        Toy Story (1995)
Toy Story (1995)                                1.000000
Aladdin and the King of Thieves (1996)          1.000000
Aladdin (1992)                                  0.866025
Goofy Movie, A (1995)                           0.866025
Jungle2Jungle (1997)                            0.816497
Angels in the Outfield (1994)                   0.816497